# Dependencies
node_modules/

# Next.js
.next/
out/

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
*.log
npm-debug.log*

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# Testing / misc
coverage/
.vercel
.turbo
*.tsbuildinfo
next-env.d.ts
